@tailwind base;
@tailwind components;
@tailwind utilities;

/* Emoji cursor class */
.emoji-cursor {
  cursor: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32'><text y='26' font-size='26'>🚀</text></svg>") 16 16, auto;
}

/* Hide Scrollbar (Professional Way) */

/* Chrome, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none;
}